body {
    background: rgb(244, 244, 244);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background: linear-gradient(135deg, #4ff7a6 0%, #22a6b3 100%);
    border: 4px solid;
    padding: 80px 20px;
    border-bottom: 8px solid #222;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;

}

header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-size: 3.5rem;
    letter-spacing: -1px;
    margin-bottom: 10px;
    color: rgb(230, 101, 101);
}

header h1:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 4rem;
    letter-spacing: -1px;
    text-align: center;
    color: rgb(230, 101, 101);
}


.project-card {
    width: 350px;
    max-width: 90%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    color: #333;
    transition: transform 0.3s ease;


}

.project-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;


}


body.dark-theme {
    background: #222;
    color: white;
}

.project-card a {
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(73, 73, 183);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease;

}

.project-card a:hover {
    background-color: rgb(79, 247, 166);


}


.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-container span {
    display: inline-block;
    background-color: rgb(166, 176, 219);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;

}

.skills-container i {
    margin-right: 10px;
    font-size: 30px;

}

body.dark-theme .skills-container span {
    background-color: rgb(105, 46, 44);
}

#about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 50px 20px;
    margin: 40px auto;
    max-width: 900px;

}

#about-section h2 {
    color: rgb(230, 101, 101);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
}

.skills-container span:hover {
    cursor: pointer;
    background-color: rgb(139, 155, 219);
    border: 2px solid rgb(46, 6, 6);

}

#contact {
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgb(22, 17, 11);
    border: 10px solid rgb(73, 73, 183);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.contact-me div {
    padding: 10px 0;

}

.contact-me {
    color: white;

}

.contact-me a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in-out
}

.contact-me a:hover {
    color: rgb(126, 59, 59);
    scale: 1.1;
    font-weight: bold;
}

.skills-container {
    margin: 10px;
    font-size: 1.2rem;

}

.fa-html5 {
    color: #E34F26;

}

.fa-css3-alt {
    color: #1572B6;
}

.fa-js {
    color: #F7DF1E;
}

.skills-container span:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #333;
    color: white;
    transition: all 0.3s ease;
}

body.dark-theme .skills-container span {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #222;
}

.project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#theme {


    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: inherit;
    border: none;
    background-color: rgb(230, 101, 101);
    padding: 10px 25px;
    ;
}

#theme:hover {
    background-color: #22a6b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    /* Ez tolja el őket a két szélre! */
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;


}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.navbar a:hover {
    color: rgb(230, 101, 101);
    transition: 0.2s;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;

}

.nav-links a {
    text-decoration: none;
    color: black;
    position: relative;

    padding: 8px 0;

    transition: 0.3s;
}

.nav-links a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e66565;
    transition: 0.3s ease;

}

.nav-links a:hover::after {
    width: 100%;
}

.navbar img {
    height: 100px;
    width: auto;
    cursor: pointer;
    padding-left: 20px;
    mix-blend-mode: multiply;
    filter: contrast(110%);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #971010;
    border-radius: 3px;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: flex !important;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

}

footer {
    background-color: #1a1a1a;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.contact-container h2 {
    color: #e66565;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    font-size: 1.3rem;

}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links a:hover {
    transform: translateY(-10px) scale(1.1);
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github:hover {
    color: #f0f6fc;
}

.fa-envelope:hover {
    color: #e66565;
}

.fa-phone:hover {
    color: #4ff7a6;
}

.copyright {
    font-size: 0.9rem;
    opacity: 0.5;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn {
    background-color: #e66565;
    color: white;
    border: 2px solid #e66565;
}

.btn:hover {
    background-color: transparent;
    color: #e66565;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(230, 101, 101, 0.3);
}


.reveal-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal-active {
    opacity: 1;
    transform: translateY(0);
}